<!--
Jordyn Kuhn
CIS 218 Web Application Programming
1-22-2023
-->

{% extends "base.html" %}

{% block content %}
<br>
<main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Contact Me</h1>
      <p class="lead">
        <p>
        Github: <a href="https://github.com/jkuhn07">https://github.com/jkuhn07</a>
        </p>
    
        <p>
        LinkedIn: <a href="https://www.linkedin.com/in/jordyn-kuhn-620255237/">https://www.linkedin.com/in/jordyn-kuhn-620255237/</a>
        </p>
    
        <p>
        Email: jlkuhn000@gmail.com
        </p>
    </p>
    </div>
  </main>

{% endblock content %}