<!--
Jordyn Kuhn
CIS 218 Web Application Programming
1-22-2023
-->

{% extends "base.html" %}

{% block content %}

<main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Home</h1>
      <p class="lead">
        <p>I am currently working towards 
            an Associates of Science in Computer 
            Science at KVCC and will be transferring to 
            WGU in the Fall to earn a Bachelors in Computer
            Science.
        </p>
        
        <p>I currently work as a IT Intern at Level Data
            and as a Tech Intern at the Kalamazoo Public 
            library.
        </p>
    </p>
    </div>
  </main>
{% endblock content %}